/* #Footer
--------------------------------------------------------------- */
#footer {
    position: relative;
    font-size: 0.875em;
}

#footer a:not(.btn) {
    text-decoration: none;
}

/* Main Footer */
#main-footer {
    padding: var(--spacing-section-outer) 0;
    font-family: var(--bold);
    background-color: var(--secondary-light);
}

#main-footer>.container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-section-inner);
}

#main-footer .informations,
#main-footer .addresses {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

#main-footer .custom-logo-link {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--black);
    font-weight: 700;
    font-style: italic;
    transition: color ease 250ms;

    &:after {
        content: "";
        width: 100%;
        height: 3px;
        display: block;
        background-color: var(--content-color);
        transform: translateY(-3px);
        transition: background-color ease 250ms;
    }

    &:hover,
    &:focus {
        color: var(--primary);

        &:after {
            background-color: var(--primary);
        }
    }
}

#main-footer .custom-logo {
    width: 100%;
    max-width: 120px;
    height: auto;
    display: block;
}

#main-footer .description {
    max-width: 450px;
    text-align: center;
}

@media screen and (min-width: 1200px) {
    #main-footer .menu-footer {
        text-align: center;
    }
}

#main-footer .menu-footer .title,
#main-footer .address .title {
    margin-bottom: 1rem;
}

#main-footer .menu-footer>ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#main-footer .menu-footer a {
    position: relative;
    color: var(--content-color);
    transition: color ease 250ms;

    &:before {
        content: "";
        width: 100%;
        height: 2px;
        display: block;
        position: absolute;
        bottom: -4px;
        background-color: var(--black);
        transform: scaleX(0);
        transform-origin: right;
        transition: transform ease 250ms, background-color ease 250ms;
    }

    &:hover,
    &:focus {
        color: var(--primary);

        &:before {
            background-color: var(--primary);
            transform: scaleX(1);
            transform-origin: left;
        }
    }
}

@media screen and (min-width: 1200px) {
    #main-footer .menu-footer a {
        &:before {
            left: 50%;
            transform: translateX(-50%) scaleX(0);
        }

        &:hover:before,
        &:focus:before {
            transform: translateX(-50%) scaleX(1);
        }
    }
}

@media screen and (min-width: 1200px) {
    #main-footer .addresses {
        flex-direction: row;
        align-items: flex-start;
    }
}

#main-footer .address {
    width: 100%;
}

#main-footer .address a:hover,
#main-footer .address a:focus {
    text-decoration: underline;
}

/* Sub Footer */
#sub-footer {
    padding: 24px 0;
    font-family: var(--bold);
    background-color: var(--black);
}

#sub-footer>.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (min-width: 1200px) {
    #sub-footer>.container {
        flex-direction: row;
    }
}

#sub-footer a {
    color: var(--white);

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

#sub-footer .menu-footer>ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

@media screen and (min-width: 1200px) {
    #sub-footer .menu-footer>ul {
        flex-direction: row;
        justify-content: center;
        row-gap: 1rem;
        column-gap: 2.5rem;
        flex-wrap: wrap;
    }
}

.dyslexic-toggle {
    font-family: 'OpenDyslexic', sans-serif;
}

.dyslexic-toggle label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--white);
    cursor: pointer;

    &:before {
        content: "";
        width: 14px;
        height: 14px;
        display: inline-block;
        background-color: transparent;
        border: 2px solid var(--white);
        border-radius: 50%;
        transition: background-color ease 250ms;
    }

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.dyslexic-toggle input:checked+label:before {
    background-color: var(--white);
}

.dyslexic-toggle input:focus+label {
    outline: dashed 1px var(--white);
    outline-offset: 6px;
}